#root {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    min-height: 300px;
    padding: 12px;
    gap: 20px;
}

@media (min-width: 576px) {
    #root {
        max-width: 556px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    #root {
        max-width: 748px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    #root {
        max-width: 924px;
        margin: 0 auto;
    }
}

.title {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #2A52A3;
    border-radius: 4px;
    gap: 4px;
}

.title > div {
    display: flex;
    flex-direction: row;
    gap: 4px
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .projects {
        display: grid;
        grid-template-columns: 40% 58%;
        justify-content: space-between;
    }
}

.projects img {
    width: 100%;
    border-radius: 4px;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.two-columns {
    display: flex;
    gap: 12px;
}