#root {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    min-height: 300px;
    padding: 12px;
    gap: 20px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & p {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 4px;
    }

    & p > img {
        height: 20px;
    }
}

@media (min-width: 576px) {
    #root {
        max-width: 556px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    #root {
        max-width: 748px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    #root {
        max-width: 924px;
        margin: 0 auto;
    }
}

.title {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #545B77;
    border-radius: 4px;
    gap: 8px;
}

.title > div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 4px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

@media (min-width: 768px) {
    .projects {
        display: grid;
        grid-template-columns: 34% 60%;
        justify-content: space-evenly;
    }
}

.projects img {
    display: flex;
    width: 100%;
    max-width: 380px;
    border-radius: 4px;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.two-columns {
    display: flex;
    gap: 12px;
}

.mark {
    border-radius: 4px;
    background-color: rgba(26, 26, 26, 0.4);
    padding: 0 4px 0;
}