#root {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    min-height: 300px;
    padding: 12px;
    gap: 20px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & p > img {
        height: 20px;
    }
}

@media (min-width: 576px) {
    #root {
        max-width: 556px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    #root {
        max-width: 748px;
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    #root {
        max-width: 924px;
        margin: 0 auto;
    }
}

.title {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #8EA7E9;
    border-radius: 4px;
    gap: 8px;
}

.title > div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 4px;
}

.summary {
    display: grid;
    grid-template-columns: 100%;

    & > div {
        display: flex;
        flex-direction: column;
        background-color: #C1CFC0;
        border: 1px solid #11324D;
        border-radius: 8px;
        gap: 4px;
    }
}

@media (min-width: 576px) {
    .summary {
        display: grid;
        grid-template-columns: 49% 49%;
        justify-content: space-between;
    }
}

.summary_title {
    display: flex;
    padding: 8px;
    background-color: #6B7AA1;
    border-radius: 6px 6px 0 0;
    gap: 8px;
}

.summary_content {
    display: flex;
    flex-direction: column;
    padding: 8px;
    color: #11324D;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

@media (min-width: 768px) {
    .projects {
        display: grid;
        grid-template-columns: 34% 60%;
        justify-content: space-evenly;
    }
}

.projects img {
    display: flex;
    width: 100%;
    max-width: 380px;
    border-radius: 4px;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.two-columns {
    display: flex;
    gap: 12px;
}

.mark {
    border-radius: 4px;
    background-color: rgba(26, 26, 26, 0.4);
    padding: 0 4px 0;
}

.mark-small {
    border-radius: 4px;
    background-color: rgba(26, 26, 26, 0.4);
    padding: 0 4px 0;
    font-size: 12px;
}

.mark-dev {
    border-radius: 4px;
    background-color: rgb(253, 138, 138);
    padding: 4px 4px;
    margin: 0 2px;
    font-size: 12px;
    color: #1a1a1a;
}

.mark-prod {
    border-radius: 4px;
    background-color: rgb(158, 161, 212);
    padding: 4px 4px;
    margin: 0 2px;
    font-size: 12px;
    color: #1a1a1a;
}

.highlight {
    color: #A6B1E1;
    font-size: 14px;
}

.label_content{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 4px;
    padding: 8px;
    background-color: #BDCDD6;
    border: 1px solid #6096B4;
    border-radius: 4px;

    & > p {
        display: flex;
        gap: 4px;
    }
}